body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    padding: 5px;
}
h1 {
    color: aquamarine;
    padding: 4px;
    text-align: center;
}

p {
    color: antiquewhite;
    padding: 3px;
}

a {
    color: bisque;
    text-decoration: dotted;
}

a:hover {
    text-decoration: line-through;
}

.item-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.item-details p {
    margin: 5px 0;
}