<!DOCTYPE html>
<head>
    <title>Create user</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/create_user.css')}}">
    <body>
        <h2>Add New user</h2>
        <form action="/create_user" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</head>