<!DOCTYPE html>
<html>
    <head>
        <title>Item details</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/items_list.css')}}">
    </head>
    <body>
        <h1>Item details</h1>
        {% for item in items %}
        <div>
            <p><strong>Name:</strong> {{ item[1] }}</p>
            <p><strong>Price:</strong> {{ item[2] }}</p>
            <p><strong>Quantity:</strong> {{ item[3] }}</p>
        </div>
        {% endfor %}
        <div>
            <a href="/items">Back to Items List</a>
        </div>
    </body>
</html>